<!DOCTYPE html>
<html lang="en">
<title>IE3 News Analyzer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/poppins.css') }}">




<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Dexter<br>Powell Analyzer</b></h3>
  </div>
  <div class="w3-bar-block">
      <a href="#content" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Article</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Stock Analyzer</span>
</header>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <!-- Header -->

  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Stock Analyzer</b></h1>
{#    <h1 class="w3-xxxlarge w3-text-red"><b>Showcase.</b></h1>#}
{#    <hr style="width:50px;border:5px solid red" class="w3-round">#}
  </div>
  <!-- article -->
      <div class="w3-container" id="article" style="margin-top:75px">
            <div id="loader" style="position: absolute;
      width: 500px;
      height: 500px;
      z-index: 15;
      top: 50%;
      left: 50%;
      margin: -100px 0 0 -150px;
        display: none;
        background: url(/static/ajax-loader.gif) no-repeat;
        cursor: wait;"></div>
        <div id="content">
            <h1 class="w3-xxxlarge w3-text-red"><b>Article.</b></h1>
                <hr style="width:50px;border:5px solid red" class="w3-round">
                <form action="{{ url_for("predict") }}" method="POST">
                  <p>Enter the stock symbol you want to be analyzed!</p>
                  <div class="w3-section">
                    <textarea name="symbol" rows="1" style="width: 100%; max-width: 100%;" required></textarea>
                  </div>
                  <p>Enter the speech you want to be analyzed!</p>
                  <div class="w3-section">
                    <textarea name="article" rows="15" style="width: 100%; max-width: 100%;" required></textarea>
                  </div>
              <input type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="loader()"/>
        </form>
        </div>
      </div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


function loader(){
    document.getElementById("loader").style.display = "block";
    document.getElementById("content").style.display = "none";
}
</script>

</body>
</html>
